<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            name="org.domainworkbench"
            application="org.eclipse.e4.ui.workbench.swt.E4Application">
         <property
               name="appName"
               value="org.domainworkbench">
         </property>
         <property
               name="applicationXMI"
               value="org.domainworkbench/Application.e4xmi">
         </property>
         <property
               name="applicationCSS"
               value="platform:/plugin/org.domainworkbench/css/default.css">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <commandParameterType
            converter="org.domainworkbench.handlers.ContextParameterValueConverter"
            id="org.domainworkbench.commandParameterType.any"
            type="java.lang.Object">
      </commandParameterType>
   </extension>
   
</plugin>
