<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <factory
            uri="http://org/classmaker/0.6"
            class="org.classmaker.provider.ClassMakerItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
   </extension>
   
   <!-- EEF extensions -->
   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <factory
            uri="http://www.eclipse.org/emf/2002/Ecore"
            class="org.eclipse.emf.ecore.providers.EcoreEEFAdapterFactory"
            supportedTypes="org.eclipse.emf.eef.runtime.providers.PropertiesEditingProvider"/>
   </extension>
   <extension
         point="org.eclipse.emf.eef.runtime.PropertiesEditionPartProvider">
      <PropertiesEditionPartProvider
            providerClass="org.eclipse.emf.ecore.providers.EcorePropertiesEditionPartProvider">
      </PropertiesEditionPartProvider>
   </extension>

  <!-- Tabbed properties views extension -->
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor
            contributorId="org.eclipse.emf.ecore.properties"
            labelProvider="org.eclipse.emf.eef.runtime.ui.utils.EEFLabelProvider">
         <propertyCategory
               category="default">
         </propertyCategory>
         <propertyCategory
               category="extended">
         </propertyCategory>
         <propertyCategory
               category="advanced">
         </propertyCategory>
      </propertyContributor>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="org.eclipse.emf.ecore.properties">
         <propertyTab
               id="Base"
               label="Base"
               category="default">
         </propertyTab>

      </propertyTabs>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="org.eclipse.emf.ecore.properties">
         <propertySection
               class="org.eclipse.emf.ecore.parts.forms.EAttributePropertiesEditionPartForm"
               filter="org.eclipse.emf.ecore.providers.EAttributePropertiesEditionProvider$EditionFilter"
               id="org.eclipse.emf.ecore.section.EAttribute"
               tab="Base">
         </propertySection>
         <propertySection
               class="org.eclipse.emf.ecore.parts.forms.EAnnotationPropertiesEditionPartForm"
               filter="org.eclipse.emf.ecore.providers.EAnnotationPropertiesEditionProvider$EditionFilter"
               id="org.eclipse.emf.ecore.section.EAnnotation"
               tab="Base">
         </propertySection>
         <propertySection
               class="org.eclipse.emf.ecore.parts.forms.EClassPropertiesEditionPartForm"
               filter="org.eclipse.emf.ecore.providers.EClassPropertiesEditionProvider$EditionFilter"
               id="org.eclipse.emf.ecore.section.EClass"
               tab="Base">
         </propertySection>
         <propertySection
               class="org.eclipse.emf.ecore.parts.forms.EDataTypePropertiesEditionPartForm"
               filter="org.eclipse.emf.ecore.providers.EDataTypePropertiesEditionProvider$EditionFilter"
               id="org.eclipse.emf.ecore.section.EDataType"
               tab="Base">
         </propertySection>
         <propertySection
               class="org.eclipse.emf.ecore.parts.forms.EEnumPropertiesEditionPartForm"
               filter="org.eclipse.emf.ecore.providers.EEnumPropertiesEditionProvider$EditionFilter"
               id="org.eclipse.emf.ecore.section.EEnum"
               tab="Base">
         </propertySection>
         <propertySection
               class="org.eclipse.emf.ecore.parts.forms.EEnumLiteralPropertiesEditionPartForm"
               filter="org.eclipse.emf.ecore.providers.EEnumLiteralPropertiesEditionProvider$EditionFilter"
               id="org.eclipse.emf.ecore.section.EEnumLiteral"
               tab="Base">
         </propertySection>
         <propertySection
               class="org.eclipse.emf.ecore.parts.forms.EFactoryPropertiesEditionPartForm"
               filter="org.eclipse.emf.ecore.providers.EFactoryPropertiesEditionProvider$EditionFilter"
               id="org.eclipse.emf.ecore.section.EFactory"
               tab="Base">
         </propertySection>
         <propertySection
               class="org.eclipse.emf.ecore.parts.forms.EObjectPropertiesEditionPartForm"
               filter="org.eclipse.emf.ecore.providers.EObjectPropertiesEditionProvider$EditionFilter"
               id="org.eclipse.emf.ecore.section.EObject"
               tab="Base">
         </propertySection>
         <propertySection
               class="org.eclipse.emf.ecore.parts.forms.EOperationPropertiesEditionPartForm"
               filter="org.eclipse.emf.ecore.providers.EOperationPropertiesEditionProvider$EditionFilter"
               id="org.eclipse.emf.ecore.section.EOperation"
               tab="Base">
         </propertySection>
         <propertySection
               class="org.eclipse.emf.ecore.parts.forms.EPackagePropertiesEditionPartForm"
               filter="org.eclipse.emf.ecore.providers.EPackagePropertiesEditionProvider$EditionFilter"
               id="org.eclipse.emf.ecore.section.EPackage"
               tab="Base">
         </propertySection>
         <propertySection
               class="org.eclipse.emf.ecore.parts.forms.EParameterPropertiesEditionPartForm"
               filter="org.eclipse.emf.ecore.providers.EParameterPropertiesEditionProvider$EditionFilter"
               id="org.eclipse.emf.ecore.section.EParameter"
               tab="Base">
         </propertySection>
         <propertySection
               class="org.eclipse.emf.ecore.parts.forms.EReferencePropertiesEditionPartForm"
               filter="org.eclipse.emf.ecore.providers.EReferencePropertiesEditionProvider$EditionFilter"
               id="org.eclipse.emf.ecore.section.EReference"
               tab="Base">
         </propertySection>
         <propertySection
               class="org.eclipse.emf.ecore.parts.forms.EStringToStringMapEntryPropertiesEditionPartForm"
               filter="org.eclipse.emf.ecore.providers.EStringToStringMapEntryPropertiesEditionProvider$EditionFilter"
               id="org.eclipse.emf.ecore.section.Entry"
               tab="Base">
         </propertySection>
         <propertySection
               class="org.eclipse.emf.ecore.parts.forms.EGenericTypePropertiesEditionPartForm"
               filter="org.eclipse.emf.ecore.providers.EGenericTypePropertiesEditionProvider$EditionFilter"
               id="org.eclipse.emf.ecore.section.EGenericType"
               tab="Base">
         </propertySection>
         <propertySection
               class="org.eclipse.emf.ecore.parts.forms.ETypeParameterPropertiesEditionPartForm"
               filter="org.eclipse.emf.ecore.providers.ETypeParameterPropertiesEditionProvider$EditionFilter"
               id="org.eclipse.emf.ecore.section.ETypeParameter"
               tab="Base">
         </propertySection>
      </propertySections>
   </extension>

</plugin>
